*.json
*.zip
.DS_Store
.idea/
__pycache__/
better_translation_frequency/
better_translation/
data/
embedding/
haoda_ontonotes_data/
MUSE/
ontonotes_translation/
translation/
image/
log/
*.sh
new_translation/
phrase_translation/
